* {
  margin: 0;
}

#worldMap {
  background: url(https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80) center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  height: -webkit-fill-available;
  margin-top: -21px;
  text-align: center;
  color: blue;
  margin: 0px;
}

a {
  color: #99d6ff;
}

#anima_text {
  /* text-transform: uppercase; */
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1543005472-1b1d37fa4eae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: 100% 100%;
  color: transparent;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  letter-spacing: 5px;
  font-family: 'Indie Flower', cursive;
  padding-bottom: 35px;
  margin-top: 30px;
}

.worldMap {
  height: 100%;
}

.planeMoving {
  height: 70px;
}

.planeMoving {
  position: absolute;
  top: 45%;
  right: -500px;
  transform: rotate(90deg);
  animation: planeMoving 7s linear 0s infinite reverse;
  z-index: 99;
}

@keyframes planeMoving {
  from {
    right: -500px;
  }

  to {
    right: 102%;
  }
}


.container{
position: absolute;
left: 37%;
margin: 50px 0 50px 0;
}
.seating{
  position: relative;
  text-align: center;

}

.seat{
  color: #464646;
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: #cccccc;
  border-radius: 15%;
  font-size: 10px;
}
.seat:hover{
   background-color: pink;
}

.seat-button{
   position: absolute;
  text-transform: uppercase;
  background-color: rgba(255, 0, 42, 0.5);
  font-weight: bold;
  height: 25px;
  border: none;
  font-size: 8px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(255, 0, 42, 0.5);
  left: 10px;
  bottom: -35px; /* disguusting hack to keep the button relative to this shitty seating display */
  width:60px;
}
.seat-button:hover{
  transform: translate(1px,-1px);
  box-shadow: -2px 5px 6px rgb(50, 49, 49, 0.4);
  transition: .2s;
}
